h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2pt;
  font-size: 60pt;
  text-align: center;
  margin-top: 10%;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
  font-size: 15pt;
  margin-bottom: 3%;
}
h4{
  text-align: center;
  margin-top: 2%;
}
body{
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
  background-image: url(https://static1.squarespace.com/static/582bafbc20099e267f5cc3e8/589092b13e00beee6260e6ca/589093dd03596e99bbe2b620/1502215383280/bear_1600_c.jpg?format=2500w);
  background-size: 500px 400px;
  background-repeat: no-repeat;
  background-position: top right;
}
button{
  margin-left: 25%;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  background-color: #222; /* dark blue */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
}
.navBar{
  margin-bottom: 8%;
  text-align: center;
  font-size: 15pt;
}
.checkbox{
  margin-left: 35%
}
.NewAccount{
  text-align: center;
}
.searchLabel{
  margin-left: 45%;
}
.inputBox{
  width: 50%;
  margin-left: 25%;
}
.foundNames{
  font-size: 15pt;
  margin-top: 8%;
  margin-left: 25%;
}
.deleteAccountButton{
  margin-top: 30%;
  text-align: center;
}
.yourConnections{
  font-size: 15pt;
  margin-top: 3%;
  margin-left: 35%;
}
.connectionsHeader{
  margin-left: 6%;
}
.textInput{
  width:70%;
  font-size: 20pt;
}
.typeInput{
  margin-left: 23%;
}

iframe {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 13%;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
