h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2pt;
  font-size: 50pt;
  text-align: center;
  margin-top: 10%;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
  font-size: 15pt;
  margin-bottom: 3%;
}
h4{
  text-align: center;
  margin-top: 2%;
}
body{
  font-family: 'Montserrat', sans-serif;
  background-image: url();
  background-repeat: no-repeat;
}
button{
  margin-left: 25%;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  background-color: #222; /* dark blue */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
}
.navBar{
  margin-bottom: 8%;
  text-align: center;
  font-size: 15pt;
}
.checkbox{
  margin-left: 35%
}
.NewAccount{
  text-align: center;
}
.searchLabel{
  margin-left: 45%;
}
.inputBox{
  width: 50%;
  margin-left: 25%;
}
.foundNames{
  font-size: 15pt;
  margin-top: 8%;
  margin-left: 50%;
}
.deleteAccountButton{
  margin-top: 30%;
  text-align: center;
}
.yourConnections{
  font-size: 15pt;

  margin-left: 35%;
}
