<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset="utf-8">
    <title>Messenger</title>
  </head>
  <body>
    <div class ="container">
      <h1>Message Box</h1>
      <nav class="navBar">
        <a href='/home'>Log out</a> |
        <a href='/users/details/@Model["thisUser"].GetId()'>Return to Profile</a>
      </nav>

      <iframe
      frame border="0"
      src='/box/@Model["thisUser"].GetId()/@Model["connectedUser"].GetId()'
      height="800"
      width="800"></iframe>
      <form action='/dialog/@Model["thisUser"].GetId()/@Model["connectedUser"].GetId()' method="post">
        <div class="form-group">
          <label class="" for="message">Type Message</label>
          <input type="text" class="form-control" name="message"/>
        </div>
        <br>
        <button class="btn" type="submit">Send message</button>
      </form>
    </div>
    
  </body>
</html>
