<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset="utf-8">
    <title>Messenger</title>
  </head>
  <body>
    <div class="container">
     <h1>CHAT</h1>
     <h3>Messenger App</h3>
        <p class="NewAccount">Your account has been deleted :(</p>
          <nav class="navBar">
            <a href="/">Create New Account</a>
          </nav>
      </div>
  </body>
</html>
