<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset="utf-8">
    <title>Messenger App</title>
  </head>
  <body>
    <header>
      <h1>Messenger App</h1>
    </header>
    <div class="container">
      <nav class="navBar">
        <a href="/home">Logout</a> |
        <a href="/users/details">Return to Profile</a>
      </nav>

      @if (@Model.Count == 0)
      {
        <p><span class="red">No users match your search.</span></p>
      } else
      {
        <h2>Found Users:</h2>
          @foreach (var user in @Model["connections"])
          {
              <p><a href='@Model["user"].GetId()/dialog/@user.GetId()'>@user.GetName()</p>
          }
      }
    </div>
  </body>
</html>
