<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset="utf-8">
    <title>Messenger</title>
  </head>
  <body>
    <div class="container">
     <h1>CHAT</h1>
     <h3>Messenger App</h3>
        <nav class="navBar">
          <a href="/home">Logout</a> |
          <a href="/users/@Model['user'].GetId()/update">Update Profile</a>
        </nav>
      <h4>Welcome,</h4>
        <div class="row">
          <div class="col-md-6">
            <form class="userForm" action="/users/search" method="post">
              <div class='form-group'>
                <label class = "searchLabel" for='searchUser'>Find user by name</label>
                <input name= 'searchUser' class ='form-control width' type='text' value = "User Name">
              </div>
              <button type='submit' class='btn btn-primary'>Submit</button>
            </form>
          </div>
          <div class="col-md-6">
            <h2>Your connections</h2>
              @foreach (var user in @Model["connections"])
              {
                  <p><a href="@Model['user'].GetId()/dialog/@user.GetId()">@user.GetName()</p>
              }

          </div>
        </div>
      </div>
  </body>
</html>
